USE [master]
GO
/****** Object:  Database [Flourish and Blotts]    Script Date: 9/16/2025 10:24:07 AM ******/
CREATE DATABASE [Flourish and Blotts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Flourish and Blotts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Flourish and Blotts.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Flourish and Blotts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Flourish and Blotts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Flourish and Blotts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Flourish and Blotts]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 9/16/2025 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Name] [nvarchar](50) NULL,
	[ID] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book]    Script Date: 9/16/2025 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ISBN] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[AuthorName] [nvarchar](50) NULL,
	[Genre] [nvarchar](50) NULL,
	[PublishingYear] [date] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookRequests]    Script Date: 9/16/2025 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](100) NOT NULL,
	[AuthorName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cart]    Script Date: 9/16/2025 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](20) NULL,
	[Name] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/16/2025 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [varchar](50) NULL,
	[ID] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NULL,
	[Role] [nvarchar](20) NULL,
	[ActiveStatus] [nvarchar](10) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 9/16/2025 10:24:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[CustomerPhone] [varchar](20) NULL,
	[PaymentType] [varchar](20) NULL,
	[SaleDate] [datetime] NULL DEFAULT (getdate()),
	[ISBN] [varchar](20) NULL,
	[BookName] [varchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[SalesmanID] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([Name], [ID], [Password]) VALUES (N'Abir', N'admin', N'abir1122')
INSERT [dbo].[Book] ([ISBN], [Name], [AuthorName], [Genre], [PublishingYear], [Quantity], [Price]) VALUES (N'9780545010221', N'Harry Potter and the Deathly Hallows', N'J.K. Rowling', N'Fantasy', CAST(N'2007-07-21' AS Date), 10, CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[Book] ([ISBN], [Name], [AuthorName], [Genre], [PublishingYear], [Quantity], [Price]) VALUES (N'9780747538493', N'Harry Potter and the Chamber of Secrets', N'J.K. Rowling', N'Fantasy', CAST(N'1998-07-02' AS Date), 10, CAST(22.00 AS Decimal(10, 2)))
INSERT [dbo].[Book] ([ISBN], [Name], [AuthorName], [Genre], [PublishingYear], [Quantity], [Price]) VALUES (N'9780747542155', N'Harry Potter and the Prisoner of Azkaban', N'J.K. Rowling', N'Fantasy', CAST(N'1999-07-08' AS Date), 10, CAST(24.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[BookRequests] ON 

INSERT [dbo].[BookRequests] ([RequestID], [BookName], [AuthorName]) VALUES (1, N'It', N'Stephen King')
INSERT [dbo].[BookRequests] ([RequestID], [BookName], [AuthorName]) VALUES (2, N'Feluda Shamagra 01', N'Satyajit Roy')
INSERT [dbo].[BookRequests] ([RequestID], [BookName], [AuthorName]) VALUES (3, N'Fantastic Beasts and Where to find them', N'J.K. Rowling')
SET IDENTITY_INSERT [dbo].[BookRequests] OFF
INSERT [dbo].[Employee] ([Name], [ID], [Password], [Role], [ActiveStatus]) VALUES (N'Fabiha Afifa', N'fabiha', N'fabiha1122', N'Salesman', N'Active')
INSERT [dbo].[Employee] ([Name], [ID], [Password], [Role], [ActiveStatus]) VALUES (N'Tasnim Priya', N'priya', N'priya11223', N'Salesman', N'Inactive')
INSERT [dbo].[Employee] ([Name], [ID], [Password], [Role], [ActiveStatus]) VALUES (N'Rohan Safat', N'rohan', N'rohan1122', N'Salesman', N'Active')
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleId], [CustomerName], [CustomerPhone], [PaymentType], [SaleDate], [ISBN], [BookName], [Quantity], [Price], [TotalPrice], [SalesmanID]) VALUES (7, N'fabiha', N'000', N'Cash', CAST(N'2025-09-09 00:00:00.000' AS DateTime), N'54435434', N'test', 25, CAST(8444.00 AS Decimal(10, 2)), CAST(8444.00 AS Decimal(10, 2)), N'rohan')
INSERT [dbo].[Sales] ([SaleId], [CustomerName], [CustomerPhone], [PaymentType], [SaleDate], [ISBN], [BookName], [Quantity], [Price], [TotalPrice], [SalesmanID]) VALUES (8, N'afifa', N'00', N'Bkash', CAST(N'2025-09-09 00:00:00.000' AS DateTime), N'5342454', N'test2', 80, CAST(599.00 AS Decimal(10, 2)), CAST(599.00 AS Decimal(10, 2)), N'rohan')
INSERT [dbo].[Sales] ([SaleId], [CustomerName], [CustomerPhone], [PaymentType], [SaleDate], [ISBN], [BookName], [Quantity], [Price], [TotalPrice], [SalesmanID]) VALUES (10, N'ashraf', N'0181415414', N'Bkash', CAST(N'2025-09-13 00:00:00.000' AS DateTime), N'9780747545026', N'Harry Potter and the Philosophers Stone', 1, CAST(29.90 AS Decimal(10, 2)), CAST(29.90 AS Decimal(10, 2)), N'rohan')
SET IDENTITY_INSERT [dbo].[Sales] OFF
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SalesmanID])
REFERENCES [dbo].[Employee] ([ID])
GO
USE [master]
GO
